@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

:root {
  --primary: #002a35;
  --primary-hover: #004152;
  --accent: #f2d17d;
  --accent-hover: #e0c06b;
  --background-light: #f7f7f7;
  --background-dark: #18191a;
  --surface-light: #FFFFFF;
  --surface-dark: #002a35;
  --text-light: #002a35;
  --text-dark: #E5E7EB;
  --border-light: #E5E7EB;
  --border-dark: #004152;

  --font-display: 'Inter', sans-serif;
  --font-body: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
  background: var(--surface-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}